<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Detail</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styleFruit.css' %}">
</head>
<body>
    <header>
        <h1>{{ product.name }}</h1>
            <a href="/" class="back-to-store">Back to Store</a>
    </header>
    <main>
        <div class="product-container">
            <div class="product-image">

                <img src="{{ product.image }}" alt="{{ product.name }}">
                <h2>Price: ${{ product.price }}</h2>
            {% if product.description %}
                <p>Description: {{ product.description }}</p>
            {% endif %}
            </div>
           
        

        <div class="product-details">

            <form method="POST" action="{% url 'product_detail' product.name %}">
                {% csrf_token %}
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" value="{{ product.name }}" required>
    
                <label for="price">Price:</label>
                <input type="number" id="price" name="price" step="0.01" value="{{ product.price }}" required>
    
                <label for="description">Description:</label>
                <textarea id="description" name="description">{{ product.description }}</textarea>
               <button type="submit" class="save-button">Save Changes</button>
                
            </form>
            <form method="POST" action="{% url 'delete_product' product.name %}" style="margin-top: 20px;">
                {% csrf_token %}
                <button type="submit" class="delete-button" style="background-color: red;">Delete Product</button>
            </form>
        </div>
    </div>
        <!-- Form to modify product -->
    </main>
</body>
</html>